.container {
  width: 70%;
  margin: 3% 15% 1% 15%;
  float: left;
  height: auto;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#imageContainer {
  float: left;
  width: 16%;
  margin: 2% 0 2% 5%;
  height: 230px;
  border-radius: 50%;
  background-image: url("../../assets/user.png");
  background-size: cover;
  /*border: 1px solid black;*/
  /*box-shadow: 0 1px 3px 0 rgb(22,160,133), 0 1px 2px 0 rgb(22,160,133);*/
}

canvas {
  width: 100% !important;
  margin: 3% 0% 3% 0%;
  height: 30% !important;
}


#info {
  float: left;
  margin-left: 2%;
  height: 100%;
}

#name {
  font-size: 38px !important;
  padding-top: 45px !important;
}

#info p {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

#secondInfo {
  float: right;
}

#secondInfo p {
  font-size: 24px;
  padding-top: 50px;
  padding-right: 90px;
}

.containerLeft {
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 25%;
  margin: 0% 1% 0 15%;
}

.containerRight {
  margin: 0;
  padding: 0;
  float: left;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 44%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

md-toolbar {
  background-color: #16a085;
  color: white;
}

button {
  margin-top: 40%;
}

i {
  padding-right: 10px;
  color: #16a085;
}
