<div class="container">
  <md-card class="example-card">
    
    <md-toolbar>Login</md-toolbar>
    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm.value)">


    <md-input-container class="example-full-width">
      <input mdInput placeholder="Username" formControlName="username">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput type="password" placeholder="Password" formControlName="password">
    </md-input-container>
    <div class="example-button-row">
      <button md-raised-button>Login</button>
    </div>
 
    <div class="example-button-row">
      <button md-raised-button (click)="signUpModal()">Sign up</button>
    </div>
    </form>
  </md-card>
</div>

